<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div id="app"></div>
  <!-- <div>
    <img src="../src/img/test1.png" alt="">
  </div> -->
  <div class="img"></div>
  <i class="fa fa-address-book" aria-hidden="true"></i>
  <a href="#">aaa</a>
  <% for (var i in htmlWebpackPlugin.options.cdn && htmlWebpackPlugin.options.cdn.js) { %>
    <script 
      defer="<%= htmlWebpackPlugin.options.cdn.js[i].defer %>" 
      src="<%= htmlWebpackPlugin.options.cdn.js[i].url %>"
    >
    </script>
  <% } %>
</body>
</html>