@import "./font-awesome.min.css";
@import "./testgcx.css";
body {
  background: wheat;
  div.img {
    background: url(../img/test2.png);
    width: 100px;
    height: 100px;
    transform: scale(1.1);
  }
}
